#quadros{
    display: flex;
    justify-content: space-around;
    gap:1em;
}
#caixas{
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    align-items: center;
}
#link{
    text-decoration: none;
}
#binary{
    color: aqua;
    height: fit-content;
    width: fit-content;
    max-width: 15em;
    background-color: black;
    word-break: break-all;
    text-align: center;
    padding: 0.5em;
    font-size: x-large;
    border-radius: 20px;
}
#binary:hover{
    transition-duration: 1000ms;
    padding: 1.5em;
    font-size: xx-large;
}
#texto{
    font-family: Verdana, sans-serif;
    font-size: 2em;
    text-align: center;
}