body, #background{
    background-color:white;
}
.button{
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color:black;
    letter-spacing: 0.15rem;
    font-size: 2rem;
    transition: all .3s;
    position:relative;
    z-index: 1;
    background-color: cyan;
}
.button:hover{
    background-color:blue;
}
